@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Customer Area</h1>
            <p>This is the home page for customers.</p>
        </div>
    </div>
</div>