@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutBanquet.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Banquet Area</h1>
            <p>This is the home page for the banquet section of the application.</p>
        </div>
    </div>
</div>
