@model Sheraton.Models.SanhTiec

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SanhTiec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="updateSanhTiec">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSanh" />
            <div class="form-group">
                <label asp-for="TenSanh" class="control-label"></label>
                <input asp-for="TenSanh" class="form-control" />
                <span asp-validation-for="TenSanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SucChua" class="control-label"></label>
                <input asp-for="SucChua" class="form-control" />
                <span asp-validation-for="SucChua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="getSanhTiec">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
