<div class="col-md-3 sidebar bg-white border-end p-4 min-vh-100">
    <h5 class="mb-4 text-primary"><i class="fa-solid fa-clipboard-list me-2"></i>Quản lý đặt tiệc</h5>
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center text-dark p-2 rounded sidebar-link" asp-area="Sale" asp-controller="HopDongs" asp-action="getHopDong">
                <i class="fa-solid fa-file-contract me-2"></i> Quản lý hợp đồng
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center text-dark p-2 rounded sidebar-link" asp-area="Sale" asp-controller="DatTiec" asp-action="Index">
                <i class="fa-solid fa-utensils me-2"></i> Quản lý đặt tiệc
            </a>
        </li>
    </ul>
</div>
